html,
body {
    margin: unset;
    font-size: 16px;
}

/* Main Navigation Styles */
header .main-nav-wrapper ul {
    list-style-type: none;
    margin: unset;
    padding: unset;
}
.burger-button {
    all: unset; /* Removes all default styles */
}

/* Media query template */
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1440px) {
}
