<div class="container-xxl sticky-top">
    <div class="header-container">
        <a href="/" aria-label="Homepage link">
            <img src="/assets/img/nav-logo-placeholder-140x70.svg" alt="Example Company Logo"/>
        </a>
        <nav class="main-nav-wrapper" aria-label="Main navigation">
            <ul>
                <li>
                    <a class="nav-link" href="#link1">About Us</a>
                </li>
                <li>
                    <a  class="nav-link" href="#link2">Work With Us</a>
                </li>
                <li>
                    <a  class="nav-link" href="#link3">Shop</a>
                </li>
                <li>
                    <a  class="nav-link" href="#link4">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="icon-wrapper">
            <span>
                <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            </span>
            <span>
                <i class="fa-regular fa-user fa-xl"></i>
            </span>
        </div>
    </div>
</div>