@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1' http-equiv='X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@Model.Name</title>

        @* Fonts *@
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        @* CSS *@
        <link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css">
    
        @* TODO: Install SASS/Gulp *@
        <link rel="stylesheet" type="text/css" href="/css/core/reset.css">  
        <link rel="stylesheet" type="text/css" href="/css/core/core-content.css">
        <link rel="stylesheet" type="text/css" href="/css/core/typography.css">
        <link rel="stylesheet" type="text/css" href="/css/core/navigation.css">

        @* Head Scripts *@
        <script src="https://kit.fontawesome.com/80b111c971.js" crossorigin="anonymous"></script>
        
    </head>

    <body>
        <header>
            <div class="container-xxl sticky-top">
                <div class="header-container">
                    <a href="/" aria-label="Homepage link">
                        <img src="/assets/img/nav-logo-placeholder-140x70.svg" alt="Example Company Logo"/>
                    </a>
                    <nav class="main-nav-wrapper" aria-label="Main navigation">
                        <ul>
                            <li>
                                <a class="nav-link" href="#link1">About Us</a>
                            </li>
                            <li>
                                <a  class="nav-link" href="#link2">Work With Us</a>
                            </li>
                            <li>
                                <a  class="nav-link" href="#link3">Shop</a>
                            </li>
                            <li>
                                <a  class="nav-link" href="#link4">Contact Us</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="icon-wrapper">
                        <span>
                            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                        </span>
                        <span>
                            <i class="fa-regular fa-user fa-xl"></i>
                        </span>
                    </div>
                </div>
            </div>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            
        </footer>

        <script src="/scripts/vendor/bootstrap.min.js"></script>
    </body>

</html>